<launch>
	<arg name="map_name"  default="DIAG_B1"/>
	<arg name="map_file"  default="/home/sapienzbot-demo/sapienzbot_ws/src/living_at_diag/maps/$(arg map_name).yaml"/>
	<arg name="robot_name" default="bigRodent"/>
	<arg name="plan_name" default="LivingAtDIAG" />
	<arg name="simulation" default="false"/>
	<arg name="pnpas" default="living_at_diag_as" />
	<arg name="init_x" default="14,854" />   
	<arg name="init_y" default="0,527" />
	<arg name="init_a" default="0,150" />
	<arg name="init_cov" default="0.25" />
	<arg name="robotPort" default="/dev/ttyUSB0"/>
	<arg name="laserPort" default="/dev/ttyACM0"/>
	<arg name="laserPort2" default="/dev/ttyACM2"/>    
	<arg name="home_x" default="14,854" />
	<arg name="home_y" default="0,527" />
	<arg name="home_th" default="0.0" />

	<param name="/home_x" value="$(arg home_x)"/> 
	<param name="/home_y" value="$(arg home_y)"/> 
	<param name="/home_th" value="$(arg home_th)"/> 
	<param name="/log_images_dir_path" value="$(find dot_detector)/images_log"/> 
	<param name="/robot_name" value="$(arg robot_name)"/>
	<param name="/robotname" value="$(arg robot_name)"/>
    <remap from="cmd_vel" to ="desired_cmd_vel" />
    <param name="robot_name" value="$(arg robot_name)"/>

	<include file="$(find sapienzbot_setup)/launch/navigation/map_server.launch">
		<arg name="map_file" value="$(arg map_file)" />
	</include>

	<group if="$(arg simulation)">
		<include file="$(find living_at_diag)/launch/stage.launch" if="$(arg simulation)">
			<arg name="map_name" value="$(arg map_name)" />
		</include>

		<include file="$(find living_at_diag)/launch/robots/$(arg robot_name).launch" if="$(arg simulation)">
			<arg name="robot_name" value="$(arg robot_name)" />
			<arg name="init_x" value="$(arg init_x)" />
			<arg name="init_y" value="$(arg init_y)" />
			<arg name="init_a" value="$(arg init_a)" />
			<arg name="init_cov" value="$(arg init_cov)" />
			<arg name="robotPort" value="$(arg robotPort)" />
		</include>
	</group>

	<group unless="$(arg simulation)">
		<include file="$(find sapienzbot_setup)/launch/navigation.launch"/>

		<group ns="$(arg robot_name)">
			<param name="robot_name" value="$(arg robot_name)"/>
			<node name="link_broadcaster_3" pkg="tf" type="static_transform_publisher" args="-0.01 0 0.05 0 0 0 /$(arg robot_name)/laser /$(arg robot_name)/top_link 1"/>
			<node name="link_broadcaster_4" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /$(arg robot_name)/top_link /camera_link 1"/>
			<node name="link_broadcaster_2" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /$(arg robot_name)/base_link /$(arg robot_name)/base_frame 1"/>
			<node name="link_broadcaster_laser_frame" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /$(arg robot_name)/laser_frame /$(arg robot_name)/laser 1"/>
		</group>
	<!--/group-->

	<include file="$(find living_at_diag)/launch/pnpas.launch">
	<arg name="map_name"  value="$(arg map_name)"/>
	<arg name="robot_name" value="$(arg robot_name)"/>
	<arg name="plan_name" value="$(arg plan_name)" />
	<arg name="pnpas" value="$(arg pnpas)" />
	</include>

	<include file="$(find sapienzbot_dialog)/launch/SapienzBotDialog.launch"/>
</group>

</launch>
